header
	width: 100%
	background: #555
	height: 2rem

a
	color: white

body
	background: black
	color: white
	padding: 0
	margin: 0

.albums
	list-style-type: none
	padding: 0
	margin: 0
	.album
		float: left
		height: 250px
		width: 220px