<form {{action "login" on="submit"}}>
	<label for="username">username</label>
	{{input id="username" placeholder="username" value=username}}

	<label for="password">password</label>
	{{input id="password" value=password type=password placeholder="password"}}

	<button type="submit">submit</button>
</form>